a {
    text-decoration: none;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__header {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em;
    border-radius: 40px 4px;    
    background-color: rgb(166, 161, 167);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 80px;
    height: 80px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1.35em;
    margin: 0 0 .3em;
    color: #6A515E;
  }