.main_player {
  position: relative;
  display: flex;
}
.slider_mobile {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-region-fragment: 0;
  height: 1px;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  
}

.playerCurrentTime_mobile{
  position: absolute;
  left: 5%;
  top: 10px;
  font-weight: bold;

}

.currentSong_length_mobile{
  position: absolute;
  right: 5%;
  top: 10px;
  font-weight: bold;

}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* .slider {
    -webkit-appearance: auto;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  } */
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 50%;
    background: var(--progressSlider);
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background: var(--progressSlider);
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--progressSlider);
    cursor: pointer;
  }

  .range input{
    -webkit-appearance:none;
    width: 100%;
    height:6px;
    border-radius:5px;
    background-color:#7880cb;
    outline:none;
  }
  
  .range input::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:#404ec7;
  }

  .music_info_sec{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 80%;
    color: rgb(29, 29, 29);
  }

  .music_image{
    margin-left: 8%;
    margin-top: 12%;
    width: 20%;
  }

  .music_image img{
    border-radius: 50%;
    width: 100%;
  
  }

  .music_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 50px;
    padding-left: 10px;
  }

  .playAndPause_mobile{
    position: absolute;
    top:50%;
    right: 10%;
  }

/* 
  .rangeSection{
    width: 85%;
  } */

  @media only screen and (max-width: 400px) {
    /* .container {
      margin: 40px 0;
    }

    .music_image img{
      height: 70%;
    }

    .music_info{
      font-size: 1.02rem;
    }
    .rangeSection{
      width: 65%;
    } */

  }
  