@media only screen and (max-width: 400px) {
    /* LOGIN */
    .login-form-holder{
        width: 90%;
        margin-top: 20% !important;
    }
    .login-form-holder .login-form {
        width: 99%;
    }

    /* Register */
    .form-holder{
        width: 99%;
        margin-top: 20% !important;
    }
    .form-container{
        width: 99% !important;
    }
    .form-group{
        width: 100% !important;
    }

    /* Player */
    .p-0{
        width: 100% !important;
    }

    .main-player .music-progress .track-progress {
        width: 100%;
    }
    .main-player .music-progress {
        left: 0;
        right: 0;
        width: 100%;
       
    }
    .main-player .player-buttons {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        font-size: 30px;
        bottom: 10px;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .btn-mobile{
        display: flex;
    }
    .btn-mobile a{
        min-width: 42%;
    }
    
    .logo{
        width: 45% !important;
    }

    .volume-logo{
        display: none;
    }

}

.create_new_playlist{
    width: 80%;
    margin: 15px auto !important;
    padding: 8px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    text-align: center;
}

.createplaylistmodal {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 20%;
    height: 20%;
} 
  
.createplaylist-input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
  
.createplaylist-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 8px !important;
    cursor: pointer;
}
  
.createplaylist-button:hover {
    background-color: #3e8e41;
}